<div>
<table class='table'>
  <thead class="table__header">
    <tr class='table__header-row'>
      <th class='table__header-cell' *ngFor="let column of config.columns">{{ config.headers[column] }}</th>
    </tr>
  </thead>
  <tbody class="table__body">
    <tr class='table__body-row' 
    *ngFor='let item of config.items'>
      <td class='table__body-cell' *ngFor='let column of config.columns'>
        <span class='table__cell-header'>{{ config.headers[column] }}</span>
        {{ item[column] }}
      </td>
      <td class='table__body-cell'>
        <div class="table__body-icon">
          <b-button-icon class="table__icon-item" *ngFor='let button of config.buttons' (click)='buttonClick(button, item)' [type] = button></b-button-icon>
        </div>
      </td>
    </tr>
  </tbody>
</table> 
</div>   