@import "../../../assets/styles/common/shared";

.hotel-card {
  border-radius: 24px;
  .shadow-dark();


  @media @mobile {
    width: 100%;
  }

  &__container {
    margin: 24px 24px;


    @media @mobile {
      margin: 8px;
    }
  }

  &__header {
    display: flex;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid @color-grey-light;


    @media @mobile {
      padding-top: 0;
      border-bottom: none;
      flex-wrap: wrap;
      align-items: center;
    }

    &-hotel {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;


      @media @mobile {
        width: 100%;
      }
    }
  }

  &__hotel-name {
    font-size: 28px;
    display: flex;
    align-items: center;



    @media @mobile {
      font-size: 20px;
      line-height: 32px;
      margin-top: 24px;
      margin-bottom: 16px;
      width: 100%;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    margin-left: auto;

    &-item {
      margin-right: 32px;
      margin-bottom: 8px;
    }

    &-item:last-child {
      margin-right: 0;
    }
  }

  &__star-selector {
    margin-left: 24px;
    padding-bottom: 8px;


    @media @mobile {
      margin-left: 0;
    }
  }

  &__wrapper {
    margin-top: 24px;
    display: flex;
    flex-direction: column;



    @media @mobile {
      margin-top: 0;
    }
  }

  &__hotel-info {
    display: flex;
    flex-direction: row;

    @media @mobile {
      flex-direction: column-reverse;
      align-items: center;
    }


  }

  &__main-info {
    display: flex;



    @media @mobile {
      flex-direction: column;
      align-items: center;
      margin-top: 24px;
    }
  }

  &__hotel-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-bottom: auto;
  }

  &__rating-desktop {
    height: 40px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: @color-blue-dark;
    color: @color-white;
    font-size: 24px;
    margin-left: 16px;
  }

  &__reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;


    &-item {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 220px;



      @media @mobile {
        width: 100%;
      }
    }
  }

  &__text-info {
    margin-left: 24px;
    margin-right: 24px;



    @media @mobile {
      margin-right: 0;
      margin-left: 0;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__photo {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 300px;
    height: 164px;
    background-color: @color-grey-light;

    & img {
      border-radius: 16px;
      width: 300px;
      height: 164px;
    }

    @media @mobile {
      height: 164px;

      & img {
        height: 164px;
      }
    }


  }

  &__item {
    width: 300px;
    margin-top: 24px;
    display: flex;



    @media @mobile {
      width: 100%;
    }

    &-svg {
      height: 32px;
      width: 32px;
      border-radius: 8px;
      border:  1px solid @color-grey-dark;
      margin-right: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__description {



    @media @mobile {
      margin-top: 32px;
    }
  }

  &__country {
    margin-top: 32px;
    color: @color-grey-dark;
    font-size: 20px;



    @media @mobile {
      margin-top: 16px;
    }
  }

  &__option {
    margin-right: auto;
    margin-left: 24px;
    margin-top: 24px;
    color: @color-grey-dark;
    .font-light();



    @media @mobile {
      display: block;
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__rating {
    width: 56px;
    height: 40px;
    margin-left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: @color-blue-dark;
    color: @color-white;
    font-size: 24px;



    @media @mobile {
      margin-left: 24px;
      margin-right: 8px;
    }
  }

  &__icon-chat {
    flex-shrink: 0;
    margin-right: 24px;
  }

  &__count-reviews {
    display: flex;
    flex-shrink: 0;
    border-bottom: 1px solid;
    color: @color-blue;
    margin-right: 24px;

  }


  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;



    @media @mobile {
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;



    @media @mobile {
      display: flex;
      flex-direction: row;
      margin-top: 16px;
    }
  }

  &__price-item {
    margin-bottom: 8px;



    @media @mobile {
      margin-bottom: 0;
    }

  }

  &__reviews-item {
    cursor: pointer;
  }

  &__option {
    color: @color-grey-dark;
    .font-light();
  }

  &__total-price {
    .font-bold();
    font-size: 24px;



    @media @mobile {
      font-size: 16px;
      margin-left: 24px;
    }
  }
}
