<div class='selector'>
  <h5 class='selector-title'>{{titleSelector}}</h5>
  <label (click)='showPopup()' class='selector__input-container'>
    <input (change)='handleChange($event)' class='selector__input'
           placeholder='{{selectedItems.length == 0 ? hint : selectedHint}}' />
    <!--    fix стили для свг иконки-->
    <svg-icon
      (click)='showPopup()'
      [ngClass]="['selector__input-arrow',arrow]"
      src='assets/icons/arrow.svg'></svg-icon>
  </label>

  <div *ngIf='popupItems' class='selector__list'>
    <div (click)='showTitle(item)'
         [ngClass]="['selector__list-item',hisChecked(item)]"
         *ngFor='let item of filteredData()'>

      <h4 *ngIf='outputMode()' class='selector__list-text'>{{item}}</h4>


      <b-checkbox *ngIf='!outputMode()'
                  type='{{hisChecked(item)}}'
                  label='{{item}}'></b-checkbox>
    </div>
    <h4 [ngClass]="[flag ?
      'selector__list-alert':
      'selector__list-alert-invisible']">
      Значение не найдено</h4>
    <button (click)='addItem()' *ngIf='typeUser === "admin" && flag'>add</button>
  </div>
</div>
