<div (click)='closePopup($event)' class='selector'>
  <span class='selector-title'>{{titleSelector}}</span>
  <label (click)='showPopup()' class='selector__input-container'>
    <input (change)='handleChange($event)'
           [ngClass]="['selector__input',getHintColor()]"
           placeholder='{{selectedItems.length == 0 ? hint : selectedHint}}' />
    <svg-icon
      (click)='showPopup()'
      [ngClass]="['selector__input-arrow',arrow]"
      src='assets/icons/arrow.svg'></svg-icon>
  </label>

  <div *ngIf='popupItems' class='selector__list'>
    <div (click)='showTitle(item)'
         [ngClass]="['selector__list-item',getStyleMode(item)]"
         *ngFor='let item of filteredData()'>

      <span *ngIf='outputMode()' class='selector__list-text'>{{item}}</span>


      <b-checkbox *ngIf='!outputMode()'
                  [checked]= getStatus(item)
                  label='{{item}}'
      ></b-checkbox>
    </div>
    <span [ngClass]="[alertFlag ?
      'selector__list-alert':
      'selector__list-alert-invisible']">
      Значение не найдено</span>
    <button class='selector__list-button'  (click)='addItem()' *ngIf='typeUser === "admin" && alertFlag'>add value</button>
  </div>
</div>
