@import './../../../assets/styles/common/shared';

svg path {
  stroke: @color-blue
}

.selector {
  &-title {
    margin: 0 0 4px 16px;
    color: @color-blue-dark;
  }

  &__input {
    display: flex;
    z-index: 1;
    min-width: 334px;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0 16px 24px;
    background-color: @color-white;
    border: 2px solid @color-grey-light;
    border-radius: 24px;
    cursor: pointer;
    outline: none;

    &-container {
      max-width: 334px;
      display: flex;
      position: relative;
      align-items: center;
      text-align: center;
    }

    &-arrow {
      z-index: 2;
      content: "";
      right: 24px;
      position: absolute;
      width: 38px;
      height: 38px;
      cursor: pointer;
      transform: rotate(90deg);
        &.rotate{
          transform: rotate(-90deg);
        }
      &:hover {
        border-radius: 50%;
        background: @color-blue-light;
      }
    }

  }

  &__input:focus {
    border: 2px solid @color-blue-dark;
  }

  &__list {
    overflow: auto;
    max-height: 232px;
    max-width: 334px;
    margin-top: 4px;
    border: 2px solid @color-blue-dark;
    border-radius: 24px;
    padding-top: 21px;
    padding-bottom: 19px;

    &-item {
      display: flex;
      align-items: center;
      padding: 10px 0 10px 24px;
      border-bottom: 1px solid @color-blue;
      cursor: pointer;
      &.checked{
        border-radius: 4px;
        border-bottom-color: @color-blue-dark;
        background: @color-blue-dark;
      }
    }

    &-item:hover {
      background-color: @color-blue-light;
    }

    &-item:last-child {
      border-bottom: none;
    }

    &-text {
      color: @color-blue-deep-dark;
      margin: 0;
    }

    &-alert {
      color: @color-blue-deep-dark;
      margin: 0;
      text-align: center;

      &-invisible {
        display: none;
      }
    }

  }

}


.none-checkmark {
  display: none;
}

.checkmark {
  display: block;
}
