@import './../../../assets/styles/common/shared';

.list-of-hotels{
    //display: flex;
    &__body{
        padding: 40px;
    }
    
    &__filter-line{
        display: grid;
        margin: 16px 0 26px 0;
        //grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column: auto;
        //display: flex;
        //justify-content:stretch;
        width: 100%;
        //flex-direction: row;
        //flex-wrap: nowrap;
    }
    //&__filter-line div{
        //width: auto;
    //} 
    &__input-field{
        width: auto;
        margin: 0 24px 0 0;
    }
    &__search-button{
        display: grid;
        width: 256px;
        justify-content: right;
    }
}
