@import './../../../assets/styles/common/shared';

.input-field {
  display: flex;
  flex-direction: column;

  &__sub-title {
    margin-left: 16px;
    margin-bottom: 4px;
  }

  &__input {
    padding: 16px 0 16px 24px;
    outline: none;
    background: @color-white;
    border: 2px solid @color-grey-light;
    box-sizing: border-box;
    border-radius: 24px;
    &.red{
      border-color:@color-red;
    }
    &[disabled] {
      background: @color-grey-light;
    }

    &:active {
      outline: none;
      border: 2px solid @color-blue-dark;
    }
  }

  &__under-title {
    margin-left: 16px;
    margin-top: 4px;
    color: @color-red;
  }
}
