@import "../../../assets/styles/common/shared";

.banner {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__background {
    background-color: @color-blue-deep-dark;
    width: 100%;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    @media @tablet {
      height: 480px;
    }
  }

  &__scroll-left,
  &__scroll-right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    background-color: @color-grey-light;
    opacity: 0.5;
    margin-top: 20px;
    z-index: 1;

    @media @not-desktop {
      display: none;
    }
  }

  &__scroll-left {
    margin-left: 8px;
  }

  &__scroll-right {
    right: 0;
    margin-right: 8px;
  }

  &__more-hotel {
    display: flex;
    margin-top: 40px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: auto;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0;
    }

    @media @not-desktop {
      margin-top: 8px;
    }

    &-img {
      cursor: pointer;
      background-color: @color-grey-light;
      min-width: 120px;
      height: 88px;
      margin: 4px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        transform: scale(1.1);
      }

      & img {
        min-width: 120px;
        height: 88px;
        border-radius: 4px;
      }
    }
  }

  &__hotel-info {
    max-width: 1440px;
    display: flex;
    flex-basis: 100%;
    margin-top: 56px;

    @media @not-desktop {
      flex-direction: column;
      margin-top: 0;
    }

    &-photo {
      height: 447px;
      background-color: @color-grey-light;
      margin-left: 40px;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 12px;

      & img {
        width: 100%;
        height: 447px;
        border-radius: 16px;
      }

      @media @mobile {
        margin-left: 0;
        margin-top: 16px;
        width: 100%;
        height: 180px;

        & img {
          width: 100%;
          height: 180px;
          border-radius: 16px;
        }
      }

      @media @tablet {
        height: 280px;
        margin-left: 0;
        margin-top: 16px;
        width: 100%;

        & img {
          width: 100%;
          height: 280px;
          border-radius: 16px;
        }
      }

      &-wrapper {
        flex-grow: 1;

        @media @mobile {
          padding: 8px;
          flex-basis: 100%;
          min-width: 100%;
        }

        @media @tablet {
          padding-left: 70px;
          padding-right: 70px;
          flex-basis: 100%;
          min-width: 100%;
        }
      }
    }

    &-text {
      margin-right: 40px;
      margin-left: 12px;
      display: flex;
      flex-direction: column;
      flex-basis: 44%;

      @media @mobile {
        margin-right: 0;
        margin-top: 24px;
        margin-left: 0;
      }

      @media @tablet {
        margin-right: 0;
        margin-top: 24px;
        margin-left: 0;
      }

      &-name {
        color: @color-white;
        font-size: 40px;
        word-break: break-all;
        height: 167px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 16px;

        @media @not-desktop {
          height: auto;
          font-size: 28px;
          background-color: @color-blue-deep-dark;
          padding-left: 8px;
        }
      }

      &-country {
        margin-top: 16px;
        color: #008A37;
      }

      &-description {
        margin-top: 16px;
        color: #009D9D;
      }

      &-more {
        text-transform: uppercase;
        text-decoration: underline;
        cursor: pointer;
        margin-top: 32px;
        color: #4ACAB3;
      }

      &-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        @media @not-desktop {
          margin-left: 8px;
        }
      }
    }
  }
}

