<div class='banner'>
  <div class='banner__header'>
    <div class='banner__items'>

      <div class='banner__img-container' *ngFor='let i of imagesHotels'>
        <img *ngIf='imageHotel.length > 0; else placeholder' src='{{imagesHotels}}' alt=''>
        <ng-template #placeholder>
          <div>
            <svg-icon  class='icon _size-m _stroke-grey'
                       src="assets/icons/placeholder.svg">
            </svg-icon>
          </div>
        </ng-template>
      </div>
    </div>


    <div class='banner__container-photo'>
      <div class='banner__main-photo'>
        <img *ngIf='imageHotel.length > 0; else placeholderTemplateMobile' src='{{hotelInfo.hotelImgUrl}}' alt=''>
        <ng-template #placeholderTemplateMobile>
          <div class='banner__container-img-svg'>
            <svg-icon  class='icon _size-l _stroke-grey'
                       src="assets/icons/placeholder.svg">
            </svg-icon>
          </div>
        </ng-template>
      </div>
    </div>

    <!--<div class='banner__header-inner'>
      <div class='banner__hotel-img'>
        <img class='banner__img-mobile' *ngIf='imageHotel.length > 0; else placeholderTemplate' src='{{hotelInfo.hotelImgUrl}}' alt=''>
        <ng-template #placeholderTemplate>
          <div class='banner__container-img-svg'>
            <svg-icon  class='icon _size-l _stroke-grey'
                       src="assets/icons/placeholder.svg">
            </svg-icon>
          </div>
        </ng-template>
      </div>
    </div>-->

    <div class='banner__header-hotel-mobile'>
      <div class='banner__header-hotel-name-mobile'> <!--12312312312312312312-->
        {{hotelInfo.name}}
      </div>
    </div>

  </div>

  <div class='banner__content'>


    <div class='banner__hotel-img-desktop'>
      <img class='banner__imgg' *ngIf='imageHotel.length > 0; else placeholderTemplate' src='{{hotelInfo.hotelImgUrl}}' alt=''>
      <ng-template #placeholderTemplate>
        <div class='banner__container-img-svg-desktop'>
          <svg-icon  class='icon _size-l _stroke-grey'
                     src="assets/icons/placeholder.svg">
          </svg-icon>
        </div>
      </ng-template>
    </div>



    <div class='banner__hotel-info'>








      <div class='banner__header-hotel'>
        <div class='banner__header-hotel-name'>
          {{hotelInfo.name}}
        </div>
      </div>


      <b-star-selector [isEditable]='false' [selectedItem]='hotelInfo.starsCount'></b-star-selector>
      <div class='banner__hotel-location'>
        {{hotelInfo.address.city}}, {{hotelInfo.address.country}}
      </div>
      <div class='banner__hotel-description'>
        {{hotelInfo.description}}
      </div>
      <div class='banner__hotel-more'>
        {{"banner.moreDetails" | i18next}}
        <svg-icon class='icon _size-m _blue-main'
                  src="assets/icons/arrow.svg">
        </svg-icon>
      </div>
    </div>
  </div>
</div>
