@import "../../../assets/styles/common/shared";

.banner {
  display: flex;
  flex-direction: column;
  height: 695px;
  width: 100%;


  &__container-photo {
    display: none;
    justify-content: center;
    align-items: center;

    @media @mobile {
      display: flex;
    }

    @media @tablet {
      display: flex;
    }
  }

  &__main-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: @color-grey-light;

    @media @mobile {
      width: 304px;
      height: 200px;
    }

    @media @tablet {
      width: 460px;
      height: 220px;
    }

    & img {
      border-radius: 16px;

      @media @mobile {
        width: 304px;
        height: 200px;
      }

      @media @tablet {
        width: 460px;
        height: 220px;
      }
    }
  }

  &__header {
    display: flex;
    background-color:  @color-blue-deep-dark;
    height: 360px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

    @media @mobile {

    }

    @media @tablet {

    }
  }



  &__items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    overflow: hidden;
    overflow-x: scroll;

    white-space:nowrap;
    background-color: #001724;

    @media @mobile {
      margin-top: 16px;
    }

    @media @tablet {
      margin-top: 16px;
    }
  }
/*xbnth*/

  /*&__header-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media @mobile {
      justify-content: center;
      flex-direction: column;
    }

    @media @tablet {
      justify-content: center;
      flex-direction: column;
    }
  }*/


  /*&__hotel-img {
    display: none;
    border-radius: 16px;

    @media @mobile {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media @tablet {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }*/

  /*&__container-img-svg {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: @color-grey-light;
    position: absolute;
    width: 900px;
    height: 447px;
    border-radius: 16px;
    top: 22%;
    margin-top: 56px;
    margin-left: 24px;

    @media @mobile {
      position: inherit;
      width: 304px;
      height: 200px;
      margin-left: 0;
      margin-top: -260px;
    }

    @media @tablet {
      position: inherit;
      width: 460px;
      height: 220px;
      margin-left: 0;
      margin-top: -240px;
    }

  }*/

  /*&__img-mobile {
    position: absolute;
    width: 900px;
    height: 447px;
    border-radius: 16px;
    top: 0;
    margin-top: 280px;
    margin-left: 70px;

    @media @mobile {
      position: inherit;
      width: 304px;
      height: 180px;
      margin-left: 0;
    }

    @media @tablet {
      position: inherit;
      width: 304px;
      height: 180px;
      margin-left: 0;
      margin-top: -300px;
    }
  }*/

  /*xbnth*/



  &__hotel-img-desktop {
    border-radius: 16px;
    position: absolute;
    display: flex;
    flex-direction: column; /*sadasdasdasdasdasdsdasdasdassldfklsdf
    sadsdadasdasdasdasdasdasdasdsdasdasdasasd*/
    width: 540px;
    top: 13em;
    margin-top: 56px;
    left: 0;
    margin-left: 24px;

    @media @mobile {
      display: none;
    }
    @media @tablet {
      display: none;
    }

  }

  &__imgg {
    width: 900px;
    height: 447px;
    border-radius: 16px;
  }

  &__container-img-svg-desktop {

    background-color: @color-grey-light;
    width: 900px;
    height: 447px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

  }




  &__img-container {
    width: 128px;
    height: 86px;
    border-radius: 4px;
    margin-right: 8px;

    @media @mobile {
      width: 72px;
      height: 48px;
    }

    @media @tablet {
      width: 72px;
      height: 48px;
    }


    &:hover {
      transform: scale(1.2, 1.2);
    }

    &:last-child {
      margin-right: 0;
    }

    & div {
      background-color: @color-grey-light;
      border: solid 1px @color-grey-dark;
      width: 128px;
      height: 86px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media @mobile {
        width: 72px;
        height: 48px;
      }

      @media @tablet {
        width: 72px;
        height: 48px;
      }

    }
  }

  /*&__header-hotel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    width: 100%;

  }

  &__header-hotel-name {
    .font-light();
    color: @color-white;
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    margin-right: 200px;
    margin-bottom: 24px;  дубликат

    @media @mobile {
      width: 100%;
      font-size: 24px;
      margin-right: 0;
      margin-left: 5px;
    }

    @media @tablet {
      width: 100%;
      font-size: 24px;
      margin-right: 0;
      margin-left: 5px;
    }
  }*/






  &__hotel-info {
    position: absolute;
    display: flex;
    flex-direction: column; /*sadasdasdasdasdasd*/
    width: 540px;
    top: 360px;
    margin-right: 5.5em;


    @media @mobile {

      position: inherit;
      margin-left: 5px;
    }

    @media @tablet {

      position: inherit;
      margin-left: 5px;
    }
  }


  &__header-hotel {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;


    @media @mobile {
      display: none;
    }

    @media @tablet {
      display: none;
    }
  }

  &__header-hotel-name {
    .font-light();
    color: @color-white;
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    margin-bottom: 24px;
    width: 550px;

    @media @mobile {

      width: 100%;
      font-size: 24px;
      margin-right: 0;
      margin-left: 5px;
    }

    @media @tablet {
      width: 100%;
      font-size: 24px;
      margin-right: 0;
      margin-left: 5px;
    }
  }



  &__header-hotel-mobile {

    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;


    @media @mobile {
      display: flex;
    }

    @media @tablet {
      display: flex;
    }
  }

  &__header-hotel-name-mobile {
    .font-light();
    color: @color-white;
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    margin-bottom: 24px;
    width: 550px;

    @media @mobile {

      width: 100%;
      font-size: 24px;
      margin-right: 0;   /*1231231231231231*/
      margin-left: 5px;
      margin-bottom: 10px;
      margin-top: 0;
    }

    @media @tablet {
      margin-bottom: 10px;
      margin-top: 5px;
      width: 100%;
      font-size: 24px;
      margin-right: 0;
      margin-left: 5px;
    }
  }



  b-star-selector {

  }

  &__hotel-location {
    margin-top: 24px;
    color: @color-grey-dark;
    font-size: 24px;
  }

  &__hotel-description {
    font-size: 16px;
    color: @color-blue-dark;
    margin-top: 24px;
  }

  &__hotel-more {
    color: @color-blue;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: underline;

    cursor: pointer;
    margin-top: 24px;
  }

  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    @media @tablet {
      justify-content: flex-start;
    }

  }


  &__hotel-more {
    display: flex;
    align-items: center;
  }
}
