<div class='banner'>
  <div class='banner__background'>

    <div class='banner__more-hotel'>

      <div class='banner__more-hotel-img' *ngFor='let i of imagesHotels'>
        <img *ngIf='imageHotel.length > 0; else placeholder' src='{{imagesHotels}}' alt=''>
        <ng-template #placeholder>
          <div>
            <svg-icon  class='icon _size-m _stroke-grey'
                       src="assets/icons/placeholder.svg">
            </svg-icon>
          </div>
        </ng-template>
      </div>
    </div>

    <div class='banner__hotel-info'>

      <div class='banner__hotel-info-photo-wrapper'>

      <div class='banner__hotel-info-photo'>
          <img *ngIf='imageHotel.length > 0; else placeholderTemplateMobile' src='{{hotelInfo.hotelImgUrl}}' alt=''>
          <ng-template #placeholderTemplateMobile>
            <div class='banner__container-img-svg'>
              <svg-icon  class='icon _size-l _stroke-grey'
                         src="assets/icons/placeholder.svg">
              </svg-icon>
            </div>
          </ng-template>
        </div>
      </div>

      <div class='banner__hotel-info-text'>

        <div class='banner__hotel-info-text-name'>
          {{hotelInfo.name}}
        </div>

        <div class='banner__hotel-info-text-wrapper'>
          <b-star-selector [isEditable]='false'
                           [selectedItem]='hotelInfo.starsCount'
                           class='banner__hotel-info-text-stars'>
          </b-star-selector>

          <div class='banner__hotel-info-text-country'>
            {{hotelInfo.address.city}}, {{hotelInfo.address.country}}
          </div>

          <div #description class='banner__hotel-info-text-description'>
            {{hotelInfo.description}}
          </div>

          <div class='banner__hotel-info-text-more'>
            {{"banner.moreDetails" | i18next}}
          </div>
        </div>

      </div>

    </div>

  </div>

</div>



