<div class='registration'>
  <div class='registration__popup'>
    <span class='registration__cloud'>
      <h2 class='registration__cloud-title'>
        {{"registration.title" | i18next}}</h2>
    </span>
    <div class='registration__input'>
      <b-input-field
        isMandatory='true'
        title='{{"registration.input.name" | i18next}}'
        placeholder='{{"registration.input.namePlaceholder" | i18next}}'
        (handleChange)='getName($event)'>
      </b-input-field>
    </div>
    <div class='registration__input'>
      <b-input-field
        isMandatory='true'
        title='{{"registration.input.email" | i18next}}'
        placeholder='{{"registration.input.emailPlaceholder" | i18next}}'
        (handleChange)='getEmail($event)'>
      </b-input-field>
    </div>
    <div class='registration__input'>
      <b-input-field
        isMandatory='true'
        title='{{"registration.input.password" | i18next}}'
        placeholder='{{"registration.input.passwordPlaceholder" | i18next}}'
        (handleChange)='getPassword($event)'>
      </b-input-field>
    </div>
    <div class='registration__input'>
      <b-input-field
        isMandatory='true'
        title='{{"registration.input.repeatPassword" | i18next}}'
        placeholder='{{"registration.input.passwordPlaceholder" | i18next}}'
        (handleChange)='getRepeatPassword($event)'>
      </b-input-field>
    </div>
      <b-button
        text='{{"registration.button" | i18next}}'
        (submit)='setAuthorizationData()'
      ></b-button>
    <span class='registration__under-link'>
      {{"registration.registration" | i18next}}
    </span>
    <b-link
      url='/authorization'
      text='{{"registration.registrationLink" | i18next}}'>
    </b-link>
  </div>
  <svg-icon class='registration__svg-bird registration__svg'
            src='assets/icons/bird.svg'>
  </svg-icon>
  <svg-icon class='registration__svg-bird-second registration__svg'
            src='assets/icons/bird.svg'>
  </svg-icon>
  <svg-icon class='registration__svg-tree registration__svg'
            src='assets/icons/tree.svg'>
  </svg-icon>
  <svg-icon class='registration__svg-tree-second registration__svg'
            src='assets/icons/tree.svg'>
  </svg-icon>
  <svg-icon class='registration__svg-tree-bent registration__svg'
            src='assets/icons/tree-bent.svg'>
  </svg-icon>
  <svg-icon class='registration__svg-camel registration__svg'
            src='assets/icons/camel.svg'>
  </svg-icon>
  <svg-icon class='registration__svg-camel-and-man registration__svg'
            src='assets/icons/camel-and-man.svg'>
  </svg-icon>
  <span class='registration__svg-sand registration__svg'>
  </span>
</div>
