<div class='registration'>
  <div class='registration__popup'>
    <span class='registration__cloud'>
      <h2 class='registration__cloud-title'>
        {{"registration.title" | i18next}}</h2>
    </span>
    <form class='registration__form'
          [formGroup]='formReview'>
      <div class='registration__input'>
        <b-input-field
          formControlName='name'
          isMandatory='true'
          title='{{"registration.input.name" | i18next}}'
          placeholder='{{"registration.input.namePlaceholder" | i18next}}'
        >
        </b-input-field>
        <div
          *ngIf="
          formReview.controls['name'].invalid  &&
           (formReview.controls['name'].dirty ||
          formReview.controls['name'].touched)"
        >
          <span class='registration__input-error-text'
                *ngIf="formReview.controls['name'].errors.required">
            {{"registration.errorMessage.required" | i18next}}
          </span>
          <span class='registration__input-error-text'
                *ngIf="formReview.controls['name'].errors.minlength">
            {{"registration.errorMessage.minLength" | i18next}}
          </span>
          <span class='registration__input-error-text'
                *ngIf="formReview.controls['name'].errors.maxlength">
           {{"registration.errorMessage.maxLength" | i18next}}
          </span>
        </div>
      </div>
      <div class='registration__input'>
        <b-input-field
          isMandatory='true'
          title='{{"registration.input.email" | i18next}}'
          placeholder='{{"registration.input.emailPlaceholder" | i18next}}'
          formControlName='email'
        >
        </b-input-field>
        <div
          *ngIf="
          formReview.controls['email'].invalid  &&
           (formReview.controls['email'].dirty ||
          formReview.controls['email'].touched)"
        >
          <span class='registration__input-error-text'
                *ngIf="formReview.controls['email'].errors.required">
            {{"registration.errorMessage.required" | i18next}}
          </span>
          <span
            class='registration__input-error-text'
            *ngIf="formReview.controls['email'].errors.email">
           {{"registration.errorMessage.badEmail" | i18next}}
          </span>
        </div>
      </div>
      <div class='registration__input'>
        <b-input-field
          isMandatory='true'
          title='{{"registration.input.password" | i18next}}'
          placeholder='{{"registration.input.passwordPlaceholder" | i18next}}'
          formControlName='password'
        >
        </b-input-field>
        <div
          *ngIf="
          formReview.controls['password'].invalid  &&
           (formReview.controls['password'].dirty ||
          formReview.controls['password'].touched)"
        >
          <span
            class='registration__input-error-text'
            *ngIf="formReview.controls['password'].errors.required">
            {{"registration.errorMessage.required" | i18next}}
          </span>
          <span
            class='registration__input-error-text'
            *ngIf="formReview.controls['password'].errors.minlength">
             {{"registration.errorMessage.minLength" | i18next}}
          </span>
          <span
            class='registration__input-error-text'
            *ngIf="formReview.controls['password'].errors.maxlength">
            {{"registration.errorMessage.maxLength" | i18next}}
          </span>
        </div>
      </div>
      <div class='registration__input'>
        <b-input-field
          isMandatory='true'
          title='{{"registration.input.repeatPassword" | i18next}}'
          placeholder='{{"registration.input.passwordPlaceholder" | i18next}}'
          formControlName='repeatedPassword'
        >
        </b-input-field>
        <div
          *ngIf="
          formReview.controls['repeatedPassword'].invalid  &&
           (formReview.controls['repeatedPassword'].dirty ||
          formReview.controls['repeatedPassword'].touched)"
        >
          <span
            class='registration__input-error-text'
            *ngIf="formReview.controls['repeatedPassword'].errors.required">
              {{"registration.errorMessage.required" | i18next}}
          </span>
          <span
            class='registration__input-error-text'
            *ngIf="formReview.controls['repeatedPassword'].errors.minlength">
             {{"registration.errorMessage.minLength" | i18next}}
          </span>
          <span
            class='registration__input-error-text'
            *ngIf="formReview.controls['repeatedPassword'].errors.maxlength">
             {{"registration.errorMessage.maxLength" | i18next}}
          </span>
        </div>
      </div>
    </form>
    <b-button
      text='{{"registration.button" | i18next}}'
      (click)='postRegistrationData()'
    ></b-button>
    <span class='registration__under-link'>
      {{"registration.registration" | i18next}}
    </span>
    <b-link
      url='/authorization'
      text='{{"registration.registrationLink" | i18next}}'>
    </b-link>
  </div>
  <b-background-svg>
  </b-background-svg>
  <span class='registration__svg-sand'>
</span>
</div>
