.icon {
  width: 24px;
  height: 24px;

  &._white {
    & svg {
      fill: @color-white;
      stroke: @color-white;
    }
  }

  &._fill {
    &-none {
      fill: none;
    }
  }

  &._stroke {
    &-green svg {
      stroke: @color-green-success;
    }
    &-grey svg {
      stroke: @color-grey-middle;
    }
    &-red svg {
      stroke: @color-red;
    }
    &-white svg {
      stroke: @color-white;
    }
  }
}
