.icon {
  width: 24px;
  height: 24px;

  & svg {
    stroke: @color-blue-dark;
  }

  &._fill {
    &-none {
      fill: none;
    }

    &-white {
      fill: @color-white;
    }

    &-grey {
      fill: @color-grey-light;
    }

    &-blue {
      fill: @color-blue;
    }

    &-blue-dark {
      fill: @color-blue-dark;
    }
  }

  &._stroke {
    &-none {
      stroke: none;
    }

    &-white {
      stroke: @color-white;
    }

    &-grey {
      stroke: @color-grey-light;
    }

    &-blue {
      stroke: @color-blue;
    }

    &-blue-dark {
      stroke: @color-blue-dark;
    }
  }

  &._color-none {
    & svg {
      fill: none;
      stroke: none;
    }
  }


  &._size {
    &-m,
    &-m svg {
      width: 16px;
      height: 16px;
    }

    &-l,
    &-l svg {
      width: 32px;
      height: 32px;
    }

    &-xl,
    &-xl svg {
      width: 48px;
      height: 48px;
    }
  }


  &._rotate {
    &-d svg {
      transform: rotate(90deg);
    }
    &-u svg {
      transform: rotate(270deg);
    }
  }

  &._fill {
    &-none {
      fill: none;
    }
  }

  &._stroke {
    &-green svg {
      stroke: @color-green-success;
    }
    &-grey svg {
      stroke: @color-grey-middle;
    }
    &-red svg {
      stroke: @color-red;
    }
    &-white svg {
      stroke: @color-white;
    }
    &-deep-dark svg {
      stroke: @color-blue-deep-dark;
    }
  }
}
