.text {
  &._main {
    padding: 14px 0 14px 14px;
    display: flex;
    color: black;
    font-size: 20px;
  }

  &._medium {
    padding: 14px 0 14px 14px;
    display: flex;
    color: black;
    font-size: 16px;
  }

  &._small {
    padding: 14px 0 14px 14px;
    display: flex;
    color: black;
    font-size: 14px;
  }

  &._caption {
    padding: 14px 0 14px 14px;
    display: flex;
    color: @color-grey-middle;
    font-size: 14px;
  }

  &._input-placeholder {
    padding: 14px 0 14px 14px;
    display: flex;
    color: @color-grey-middle;
    font-size: 16px;
  }
}
