@import './../../../assets/styles/common/shared';

.tabs {
  margin: 0;

  &__item {
    border-bottom: 1px solid @color-blue-dark;
    padding: 10px 24px;
    color:  @color-blue-dark;
    display: flex;
    .font-regular();
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
  }

  &__item:hover:not(&__selected) {
    background: @color-blue-light;
    cursor: pointer;
  }

  &__selected {
    background: @color-blue-dark;
  }

  &__selected {
    color:  @color-background;
  }

  &__horizontal div {
    display: inline-flex;
  }

}