.bg-color-gradient-blue() {
  background: linear-gradient(90deg, #001E58 0%, #00507C 41.29%, #002C45 100%);
}

.bg-color-overlay() {
  background-color: fade(#919A9F, 60%);
}

.bg-color-light-grey() {
  background-color: fade(#BECFD9, 60%);
}

.shadow-dark() {
  box-shadow: 1px 2px 10px rgba(0, 50, 79, 0.42);
}

.shadow-light() {
  box-shadow: 1px 1px 6px rgba(0, 50, 79, 0.3);
}
