<div>
  <div class="info-header">
    <div class="title">Персональные данные</div>
    <b-button-icon *ngIf='!editable' [type]=buttonIconTypesEnum.edit (click)="onEditClick()"></b-button-icon>
  </div>
  <div class="avatar">
    <img class="avatar" src="favicon.ico">
  </div>
  <div class="wrapper">
    <div class="title">Личная информация</div>
    <div class="personal-info">
      <b-input-field title="Фамилия" [(ngModel)]="user.lastName" ngDefaultControl  [isDisabled]="!editable"></b-input-field>
      <b-input-field title="Имя" [(ngModel)]="user.firstName" ngDefaultControl [isDisabled]="!editable"></b-input-field>
      <b-input-field title="Дата рождения" [(ngModel)]="user.dateOfBirth" ngDefaultControl [isDisabled]="!editable"></b-input-field>
      <b-input-field title="Гражданство" [(ngModel)]="user.nationality" ngDefaultControl [isDisabled]="!editable"></b-input-field>
      <b-input-field title="Пол" [(ngModel)]="user.sex" ngDefaultControl [isDisabled]="!editable"></b-input-field>
    </div>
  </div>
  <div class="wrapper">
    <div class="title">Контактная информация</div>
    <div class="contact-info">
      <b-input-field title="E-mail" [(ngModel)]="user.email" ngDefaultControl [isDisabled]="!editable"></b-input-field>
      <b-input-field title="Номер телефона" [(ngModel)]="user.phone" ngDefaultControl [isDisabled]="!editable"></b-input-field>
    </div>
  </div>
  <div class="button-holder" *ngIf="editable">
    <div>
      <b-button type="secondary" text="Отмена" (click)='cancel()'></b-button>
      <b-button type="primary" text="Cохранить" (click)="save()"></b-button>
    </div>
  </div>
</div>
