<div class='authorization'>
  <div class='authorization__popup'>
    <span class='authorization__cloud'>
      <h2 class='authorization__cloud-title'>
        {{"authorization.title" | i18next}}</h2>
    </span>
    <div class='authorization__input'>
      <b-input-field
        isMandatory='true'
        title='{{"authorization.input.email" | i18next}}'
        placeholder='{{"authorization.input.emailPlaceholder" | i18next}}'
        (handleChange)='setEmail($event)'>
      </b-input-field>
    </div>
    <div class='authorization__input'>

      <b-input-field
        isMandatory='true'
        title='{{"authorization.input.password" | i18next}}'
        placeholder='{{"authorization.input.passwordPlaceholder" | i18next}}'
        (handleChange)='setPassword($event)'>
      </b-input-field>
    </div>
    <b-button class='authorization__button'
              text='{{"authorization.button" | i18next}}'
              (submit)='postAuthorizationData()'
    ></b-button>
    <span class='authorization__under-link'>
      {{"authorization.forgotPassword" | i18next}}
    </span>
    <b-link
      url='#'
      text='{{"authorization.forgotPasswordLink" | i18next}}'>
    </b-link>
    <span class='authorization__under-link'>
      {{"authorization.registration" | i18next}}
    </span>
    <b-link
      url='/registration'
      text='{{"authorization.registrationLink" | i18next}}'>
    </b-link>
  </div>
  <b-background-svg>

  </b-background-svg>
  <span class='authorization__svg-sand'>
  </span>
</div>
